doctype html
html(ng-app='myApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/globale.css')
    script(src='/javascripts/lib/angular.min.js')
    script(src='/javascripts/lib/angular-cookies.min.js')
    script(src='/javascripts/controllers/creationjoueurAN.js')
    block head
  body(ng-controller="verifierFormualire")
    nav
        ul
            li
                a#accueil(href="/") Accueil
            li
                a#creationJoueur(href="/creationJoueur") Jeu
            li
                a#reglesJeu(href="/aide") Règles du jeu
    block content
    footer
        p Les Grottes de Kalte - Lone Wolf
        p Utilisé pour LOG4420 par Konstantinos Lambrou-Latreille

