p L'huile de Bakanal vous permet cependant de conserver suffisamment de chaleur dans votre corps pour arriver à survivre : sans elle, le froid aurait eu raison de vous.

- decisions = [ { page: 155, text: "À présent," } ]
include decision
+ decision(decisions)

