section#stats
    p Feuille d'Aventure de {{nbJoueurName}}
    table
        tbody
            tr
                td
                    img(src="/images/points_endurance.png")
                td
                    p #[span#endurance_restante {{nbJoueurEnduranceBase}}] / #[span#endurance_total {{nbJoueurEnduranceTot}}]
            tr
                td
                    img(src="/images/points_habilete.png")
                td
                    p#habilete {{nbJoueurHabileteTot}}
            tr
                td
                    img(src="/images/pieces_or.png")
                td
                    p #[span#pieceOr {{pieceOr}}] / #[span#endurance_total {{nbJoueurEnduranceTot}}]
    div
        p Disciplines Kai
        ul#disciplines
            li(ng-repeat="elem in disciplines") {{elem}}

    p
        a.button(href="#sacADos") Sac à dos
    div#sacADos
        a#fermerSacADos(href="#")
        img(src="/images/backpack.png")
        div
            div
                p Objets
                ul
                    li(ng-repeat="elem in objets") {{elem}}
            div
                p Objets Spéciaux
                ul
                    li(ng-repeat="elem in objetsSpeciaux") {{elem}}